 
  style


#title
    {
    margin-bottom: 8px;
    text-align: center;
    width: 210px;
    color: rgb(11, 122, 190);
    border: dashed green 3px;
    }

    input[type="button"]
    {
        background-color:limegreen;
        color: black;
        border: solid black 3px;
        width:100%;
    }
    input[type="text"]
    {
        background-color: white;
        border: solid cblack 3px;
        width:100%;
    }



